*{
    margin:0;
    padding:0;
}

body{
    background-color:black;
    font-family:Helvetica, sans-serif;
    font-size: 22px;
    color:seashell;
    opacity:0.9;
    text-align: center;
}

.header-nav{
    display:flex;
    justify-content:space-between;
    height:69px;
    position:sticky;
    top:0;
    border-bottom: 1px solid seashell;

}

.header-nav img{
    display:flex;
    align-self:center;
    height:50px;
    width:auto;
    margin:10px;
}

.navbar{
    display:flex; 
    width:50%;
    justify-content:flex-end;
    align-items: center;
}

.navbar ul{
    display:flex;
    justify-content:space-between;
}

.navbar li{
    list-style:none;
}

.navbar a{
    text-decoration:underline;
    color:seashell;
    padding:20px;
}


.front-page{
    height:700px;
    width:1200px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-size: cover;
    display:flex;
    align-items:center;
    margin:0 auto;
}

.ribbon{
    background-color:black;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:20px;
}




